---
import MainLayout from "../../layouts/MainLayout.astro";

---

<MainLayout>
  <h2>My posts</h2>
  <ul>
    <li>
      <a href="/posts/first_post">First Post</a>
    </li>
    <li>
      <a href="/posts/second_post">Second Post</a>
    </li>
  </ul>
</MainLayout>